<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mcceventengine.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/80d31c20-47ab-47b6-a377-59733e2be391/resourceGroups/MCC-API_Commasto/providers/Microsoft.Web/sites/mcceventengine</ResourceId>
    <UserName>$mcceventengine</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://mcceventengine.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>